<!DOCTYPE html>
<html>
<head>
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    <!-- marked -->
    <script src="http://chutsu.github.io/mdoc/ver/VER/marked.js"></script>

    <!-- mdoc -->
    <script src="http://chutsu.github.io/mdoc/ver/VER/mdoc.js"></script>
    <link rel="stylesheet" href="http://chutsu.github.io/mdoc/ver/VER/mdoc.css">
</head>
<body>
    <!-- essential -->
    <div id="sidebar"></div>
    <div id="content"></div>

    <!-- optional -->
    <div id="back_to_top">back to top</div>
    <div id="edit">edit</div>
    <div id="loading">Loading ...</div>
    <div id="error">Opps! ... File not found!</div>

    <script>
        // essential settings
        mdoc.index = "README.md",
        mdoc.sidebar_file = "sidebar.md",

        // where the docs are actually stored on github - so you can edit
        mdoc.base_url = "";  // <------- EDIT ME!!

        // run
        mdoc.run();
    </script>
</body>
</html>
