<!DOCTYPE html>
<html>
<head>
    <title>TITLE</title>  <!-- EDIT ME!! -->

    <!-- JQUERY -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    <!-- MARKED -->
    <script src="//chutsu.github.io/ditto/ver/VER/marked.js"></script>

    <!-- HIGHLIGHT.JS -->
    <link rel="stylesheet" href="//chutsu.github.io/ditto/ver/VER/github.css">
    <script src="//chutsu.github.io/ditto/ver/VER/highlight.js"></script>

    <!-- DITTO CSS -->
    <link rel="stylesheet" href="//chutsu.github.io/ditto/ver/VER/ditto.css">
    <script src="//chutsu.github.io/ditto/ver/VER/ditto.js"></script>
</head>
<body>
    <!-- ESSENTIAL -->
    <div id="sidebar"></div>
    <div id="content"></div>
    <div id="hide"></div>

    <!-- OPTIONAL -->
    <div id="back_to_top">top</div>
    <div id="edit">edit</div>
    <div id="loading">Loading ...</div>
    <div id="error"></div>

    <!-- DITTO -->
    <script>
        $(function($) {
          // essential settings
          ditto.index = "README",
          ditto.sidebar_file = "sidebar",

          // optional settings if you want github search
          ditto.github_username = null;   // <------- EDIT ME!!
          ditto.github_repo = null;       // <------- EDIT ME!!
          ditto.highlight_code = false;    // <------- EDIT ME!!

          // where the docs are actually stored on github - so you can edit
          // e.g. https://github.com/chutsu/ditto/edit/gh-pages
          ditto.base_url = "";            // <------- EDIT ME!!

          // run
          ditto.run();
        });
    </script>
</body>
</html>
