body {
    color: #333;
    margin: 0;
    padding: 0;

    font-family: Verdana, Arial;
    font-size: 0.8em;
}

#sidebar {
    position: fixed;
    width: 220px;
    height: 100%;

    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;

    margin-right: 20px;
    margin-top: 0;
    padding-left: 25px;
    padding-top: 0;

    box-shadow: 0 0 40px #CCC;
    -webkit-box-shadow: 0 0 40px #CCC;
    -moz-box-shadow: 0 0 40px #CCC;
    border-right: 1px solid #BBB;
}

#sidebar h1 {
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#sidebar h1 a:link, #sidebar h1 a:visited {
    color: #333;
}

#sidebar h2 {
    font-size: 15px;
}

#sidebar h5 {
    margin-top: 20px;
    margin-bottom: 0;
}

#sidebar a:visited, #sidebar a:link {
    color: #4682BE;
    text-decoration: none;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
}

#sidebar ul li:before {  /* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
}

#sidebar ul li {
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 0;

    text-indent: -5px;  /* to compensate for the padding for the dash */
    font-size: 12px;
}

#content {
    width: 580px;

    margin-left: 300px;
    padding-top: 10px;
    padding-bottom: 150px;

    text-align: justify;
    font-size: 1.0em;
}

#content pre {
    margin-left: auto;
    margin-right: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;

    color: #FFF;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    background: #F7FAFB;
    border-radius: 5px;
}

#content pre code {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    font-size: 1.1em;
    border: none;
}

#content code {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;

    color: #555;
    font-size: 10px;
    font-weight: normal;
    font-family: Consolas, monospace;

    background: #F7FAFB;
    border: 1px solid #E3EDF3;
    border-radius: 2px;
}

#content h2 {
    margin-top: 50px;
    margin-bottom: 0px;

    padding-top: 20px;
    padding-bottom: 0px;

    font-size: 18px;
    text-align: left;

    border-top: 2px solid #666;
}

#content h3 {
    margin-top: 50px;
    margin-bottom: 0px;

    padding-top: 20px;
    padding-bottom: 0px;

    text-align: left;
    border-top: 1px dotted #777;
}

#content hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#content img {
    max-width: 90%;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 5px;
}

#content ul {
    display: block;
    list-style-type: none;
}

#content ul li:before {  /* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
}

#content ul li {
    text-indent: -5px;  /* to compensate for the padding for the dash */
    font-size: 13px;
}

#content ul li.link {
    color: #4682BE;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#content a:link, #content a:visited {
    color: #4682BE;
    text-decoration: none;
}

#back_to_top {
    display: none;
    position: fixed;

    height: 20px;
    line-height: 20px;
    width: 50px;
    top: 20px;

    margin-left: 890px;

    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;

    border-radius: 5px;
    background-color: #AAA;
}

#back_to_top:hover {
    background-color: #444;
    cursor: pointer;
}

#edit {
    display: none;
    position: fixed;

    height: 20px;
    line-height: 20px;
    width: 50px;
    top: 50px;

    margin-left: 890px;

    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;

    border-radius: 5px;
    background-color: #AAA;
}

#edit:hover {
    background-color: #444;
    cursor: pointer;
}

#loading, #error {
    display: none;
    position: fixed;

    height: 17px;
    top: 45%;

    margin-left: 560px;

    font-size: 14px;
    font-weight: bold;
}

input[type=search] {
    display: block;
    width: 180px;

    text-align: left;
}

.search_results{


}

.fragments {
    margin: 0;
    padding: 10px;
    /* border: 1px solid #777; */
    /* border-radius: 5px; */
}

.fragment {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

    /* border: 1px solid #777; */
    /* border-radius: 5px; */
}

.search_results .link {
    margin-top: 35px;
}

#content ul li {
    text-align: left;
}

#content ul .fragments li:before {
    content: "";
    position: relative;
    left: 0px;
}

#content ul li.fragment:before {
    content: "";
    margin: 0;
    padding: 0;
}

#content img.github_badges {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}


#hide {
    display: none;
}
